*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:rgb(28, 26, 26);
    overflow: hidden;

}
header{
    background-color:#121212;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.navbar{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
}
.main-nav{
    width: 80%;
    display:flex;
    justify-content: end;
}
.main-nav ul{
    display: flex;
    list-style: none;
    cursor: pointer;
}
.main-nav ul li{
    padding: 10px;
}
.main-nav ul li:hover{
    border-radius:10px;
    background-color:#242424;
}


.add-logo img{
    padding:0rem 0rem 0rem 2rem;
    width: 7rem;
}

.search{
    width:39% ;
    height: 2rem;
    display: flex;
    align-items: center;
    border-radius:30px;
    border:1px solid white;
}
.search input{
    background-color:rgba(70, 71, 75, 0);
    width: 30rem;
    height: 2rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    border-right: 1px solid white;
}

.search i{  
    padding: 2px;
    padding-left: 20px;
}

.user{
    display: flex;
    width: 12%;
    justify-content: space-around;
}

.user select{
    background-color: black;
    width: 100px;
    height: 2rem;
    border-radius:5px;
}
.user i{
    font-size: 1.5rem;
}

.main-content{
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-between;

}
.player{
    text-align: center;
    width: 66%;
    padding-left: 10px;
}
.player-bar{
    display: flex;
    /* height: 70vh; */
    text-align: center;
    box-shadow: 0px 0px 80px 20px rgba(165, 154, 154, 0.482);
    border-radius:10px;
    /* animation: playerAni 5s alternate-reverse infinite ; */
    animation: playerAni 40s alternate-reverse 20;
}

@keyframes playerAni{
    0%{
        box-shadow: 0px 0px 80px 20px rgba(59, 30, 127, 0.482);
    }
    10%{
        box-shadow: 0px 0px 80px 20px rgba(93, 31, 31, 0.482);
    }
    20%{
        box-shadow: 0px 0px 80px 20px rgba(33, 126, 53, 0.482);
    }
    30%{
        box-shadow: 0px 0px 80px 20px rgba(93, 31, 31, 0.482);
    }
    40%{
        box-shadow: 0px 0px 80px 20px rgba(126, 27, 102, 0.482);
    }
    50%{
        box-shadow: 0px 0px 80px 20px rgba(93, 31, 31, 0.482);
    }
    60%{
        box-shadow: 0px 0px 80px 20px rgba(96, 146, 42, 0.482);
    }
    70%{
        box-shadow: 0px 0px 80px 20px rgba(93, 31, 31, 0.482);
    }
    80%{
        box-shadow: 0px 0px 80px 20px rgba(109, 71, 28, 0.482);
    }
    90%{
        box-shadow: 0px 0px 80px 20px rgba(93, 31, 31, 0.482);
    }
    100%{
        box-shadow: 0px 0px 80px 20px rgba(121, 112, 112, 0.482);
    }
}
.add-lines h2,p{
    padding-left: 10px;
    font-weight: 100;
}
.add-lines h2{
    padding-left: 10px;
    font-weight: 400;
}
.player video{
    text-align: center;
    width: 854px;   
    height: auto;
    border-radius:10px;
}

.box-container{
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    /* right: -20px; */
    height: 100vh;
    padding-left: 10px;

}

.add-box{
    display: flex;
    width: 95%;
    margin: 5px;
    height: 200px;

}
.add-para{
    padding-left: 5px;
    border-radius:10px;
}
.add-para h4{
    padding-left: 10px;
    padding-top: 2px;
    font-weight: 400;
    font-size: 18px;
}
.add-para p{
    padding-top: 10px;
    font-weight: 100;
    font-size: small;
}

.add-box img{
    width: 55%;
    height: 100px;
    border-radius:10px;
}

.add-section{
    padding-top: 10px;
    display: flex;
}

.player img{
    width: 50px;
    height: 50px;
    border-radius:50%;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: #5c2c2c3f; 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.133); 
    height: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #55555534; 
}